.sizes {
  &-head {
    font-weight: 700;
    margin: 0 0 20px 0;
  }

  &-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
  }

  &-buttons_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: 0;
    margin: 10px 4px;
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      border: 1px solid rgb(0, 0, 0);
    }

    &:focus {
      background-color: black;
      color: white;
    }
  }
}
