.cart {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: 1;
    transform: translateX(0);
    transition: all 0.5s ease; 
}
.cart.active{
    transform: translateX(90%);
}
.cart_button{
    border: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(27, 26, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.counts-products{
    font-size: 12px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    top: 30px;
    background-color: rgb(234, 191, 0);
}


