.products-wrapper {
  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 20px;

    .product-item-hide {
      display: none;
    }

    .product-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 240px;

      .product-item-hide {
        display: none;
      }

      &:hover .add-to-cart-btn {
        background-color: #EABF00;
        transition: 0.2s;
      }

      .free-shipping {
        position: absolute;
        color: white;
        padding: 5px;
        font-size: 0.6em;
        background-color: rgb(27, 26, 32);
        cursor: default;
        z-index: 1;
        right: 0;
        top: -9.5px;
      }

      .none-free-shipping {
        display: none;
      }

      img {
        width: 100%;
      }

      .title {
        text-align: center;
        box-sizing: border-box;
        cursor: default;
        outline: none;
      }

      .add-to-cart-btn {
        border: 0;
        background-color: black;
        color: white;
        width: 100%;
        height: 51px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
