.cart-open{
    background-color: rgb(27, 26, 32);
    color: white;
    height: 100vh;
    width: 450px;
    overflow-y:scroll;
}
.cart-open::-webkit-scrollbar{
    width: 1px;
}
.cart-open-header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-open-header span{
    margin: 0 20px;
}

.cart-open-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    bottom: 100px;
}
.cart-open-main{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px 0;
    border-top: 2px solid rgb(20, 20, 20);
}
.card-open-image{
    width: 60px;
    height: 85px;
}

.added-card-price{
    color: rgb(234, 191, 0);
}
.drop-card{
    background-color: transparent;
    border: 0;
}
.one-card_button{
    border: 0;
    color: rgb(146, 146, 146);
    width: 25px;
    height: 25px;
}
.one-card_button.drop{
    background-color: rgb(35, 34, 41);
}
.one-card_button.add{
    background-color: rgba(0, 0, 0, 0.747);
}

.cart-open-footer{
    position: fixed;
    height: 150px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 26, 32);
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.3);
    margin-top: 50px;
    bottom: 0;
}
.info-added-product{
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.added-product-price{
    color: rgb(234, 191, 0);
}
.checkout_button{
    width: 405px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 0;
}