.sizes-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 30px;

  .sizes-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .size-item {
      label {
        .checkbox {
          display: none;

          &:checked + .size {
            background-color: rgb(27, 26, 32);
            color: rgb(236, 236, 236);
          }
        }

        p {
          width: 35px;
          height: 35px;
          margin: 0;
          font-size: 0.8em;
          border-radius: 50%;
          box-sizing: border-box;
          line-height: 35px;
          text-align: center;
          color: rgb(27, 26, 32);
          background-color: rgb(236, 236, 236);
          border: 1px solid transparent;

          &:hover {
            cursor: pointer;
            border: #4d4c4c 1px solid;
          }
        }
      }
    }
  }
}
