.goods-cards {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card-item {
  $self: &;

  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  font-size: 16px;
  height: 520px;
  width: 220px;
  margin: 20px 5px;

  &:hover {
    #{$self}-add-button {
      background-color: rgb(234, 191, 0);
    }
  }

  &-image {
    position: relative;
    z-index: 0;
    min-width: 220px;

    & > img {
      width: 100%;
    }

    & > .is-free-shipping {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      margin: 0;
      background-color: black;
      color: rgb(255, 255, 255);
      font-size: 0.6em;
      z-index: 1;
    }
  }

  &-title {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    height: 35px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 0;
      width: 30px;
      border-top: 2px solid rgb(234, 191, 0);
      border-radius: 100px;
    }
  }

  &-price {
    margin-bottom: 15px;

    .bold {
      font-weight: bold;
    }

    &.bold {
      font-size: 24px;
    }

    &-parts {
      color: rgb(146, 146, 146);
    }
  }

  &-add-button {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.1s ease;
    width: 100%;
    border: 0;
  }
}
