.goods-item {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &-description {
    display: flex;
    gap: 0.5rem;
    & h5 {
      font-size: 18px;
    }

    &__price-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h5 {
        font-size: 16px;
      }
    }

    &__bnt-block {
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & button {
        height: 33%;
      }
    }
  }
}
